gunicorn
langchain
langgraph
langchain-community
huggingface_hub
opencv-python
transformers
pillow
# torch==2.7.0
# torchvision==0.22.0
# torchaudio==2.7.0
# --extra-index-url https://download.pytorch.org/whl/cu126
num2words
av
langchain_huggingface
grandalf
ultralytics

flask
https://github.com/openai/CLIP/archive/refs/heads/main.zip
accelerate
ffmpeg-python
moviepy
bitsandbytes==0.41.0
sentencepiece
einops 
flash_attn 

timm

